{% extends 'base.html' %}
{% block content %}
<script src="/static/js/myDie.js"></script>
<style>
    table, th, td {
        border: 1px solid black;
    }

    [class*="col-"] {
        /*float: left;*/
        padding: 30px;
        border: 1px solid #040E78E1;
    }

    /*.center {*/
    /*  margin: auto;*/
    /*  width: 60%;*/
    /*  !*border: 3px solid #73AD21;*!*/
    /*  padding: 10px;*/
    /*}*/
    h5 {
        text-align: center
    }

    /*canvas {*/
    /*    height: 800vh;*/
    /*    width: 80vw;*/
    /*    display: block;*/
    /*}*/

</style>

<h4>Die Drawing</h4>


<div class="container-fluid row">

    <div class="col-4 center">
        <h5>Die attribute</h5>
        <hr>
        <div id="attrTableD"></div>
    </div>


    <div id="DieGraph" class="col-8 center">

        <h5>Die structure Map</h5>
        <hr>
        <h6 id="coordPts"> move the mouse in the gray area </h6>

        <div id='margin' onmousemove="cnvs_getCoordinates(event)" onmouseout="cnvs_clearCoordinates()">
            <canvas id="dieCanvas" width="500" height="500">
            </canvas>
        </div>
        <div id="testShow"></div>

    </div>

</div>


<script>
    // copy from w3c
    function cnvs_getCoordinates(e) {
        _x = e.offsetX;
        _y = e.offsetY;
        document.getElementById("coordPts").innerHTML = `Coordinates: x: ${_x}, y: ${_y}`;
        // $('#coordPts').innerText = `Coordinates: x: ${_x}, y: ${_y}`;
    }

    function cnvs_clearCoordinates() {
        document.getElementById("coordPts").innerHTML = 'move the mouse in the gray area';
    }


    var theModuleList = [];

    var aCanvas = new OneDie('dieCanvas');
    aCanvas.draw();
    const hot = new Handsontable(document.getElementById('attrTableD'), {
        height: '750',
        width: '100%',
        rowHeaders: true,
        colHeaders: true,
        // rowHeights: 25,
        minRows: 30,
        stretchH: 'last',
        colHeaders: ['#', 'Module', 'X', 'Y', 'Comment'],
        columns: [
            {data: 'mark', readOnly: true},
            {data: 'mod', className: 'htLeft'},
            {data: 'x', type: 'numeric'},
            {data: 'y', type: 'numeric'},
            {data: 'comment', className: 'htLeft'}
        ],
        licenseKey: 'non-commercial-and-evaluation',
        afterChange: function cellChanged(changes) {

            if (changes != null) {
                let tableArray = hot.getData(0, 1, 30, 3); // 抽出 'module', 'x','y' 欄位

                tableArray = tableArray.filter(elem => JSON.stringify(elem) !== JSON.stringify([null, null, null]))

                document.getElementById('testShow').innerHTML = JSON.stringify(tableArray);

                aCanvas.draw(tableArray);

            }


        }


    });


</script>
{% endblock %}