<div> Hello , this is external file content </div>

 hello {{newName}}




<div id="example_{{newName}}"> hello {{newName}}</div>


<script>
        // 如果是用變數動態增加, 會一直稱說已經container已經被用了
        tableLst['{{newName}}'] = new Handsontable(document.getElementById('example_{{newName}}'),
            {width:'100%',
            height:'700',
            stretchH:'all',   //all=平均擴展欄寬
            minRows:50,
            //readOnly:true,
            rowHeaders: true,
            colHeaders: true,
            colHeaders:['#', 'X', 'Y', 'Description'],
            licenseKey:'dfbf4-a4a7e-272c2-b6645-03351',
            outsideClickDeselects:false,   //離開表格後, 選取的範圍不會消失, 這樣才能配合外部按鍵操作
            selectionMode:'range',   //single,range,multiple
            manualRowMove:true,   //支援手動 row 上下移動
            columns:[
                {data:'mark', readOnly:true},
                {data:'x', type:'numeric'},
                {data:'y', type:'numeric'},
                {data:'desc'}
            ],
            colWidths:[50,100,100,200],
            manualColumnResize: true,
            });

</script>