{% extends 'base.html' %}
{% block content %}

<style>
 table,th,td {
  border:1px solid black;
 }

 [class*="col-"] {
  /*float: left;*/
  padding: 30px;
  border: 1px solid #040E78E1;
}
</style>

<h4>Wafer Drawing</h4>



<div class="container-fluid row">

 <div id="attrTable" class="col-6">
        <h7>Table attribute</h7>
         <table style="width:100%">
          <!--  attribute's table-->

          <tr>
           <th>step x : </th>  <td>b</td>
          </tr>
          <tr>
           <th>step y: </th> <td>b</td>
          </tr>

          </table>
    </div>


  <div id="waferGraph" class="col-6">



   hellow
   </div>

</div>



<script>




</script>
{% endblock %}