{% extends 'base.html' %}
{% block content %}



<h4>methods : tab </h4>

<input class = "btn btn-primary" type="submit" value="Add" onclick="addNewTab()">

<input class = "btn btn-danger"  type="submit" value="Delete">

<br> <br> <br>

<ul class="nav nav-tabs" id="myTab" role="tablist"></ul>
<!-- <li class="nav-item">-->
<!--    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" >Home</a>-->
<!--  </li>-->
<div class="tab-content" id="myTabContent"></div>
<!--    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">I AM HOME</div>-->
 <style>
    .full { border: 1px solid red; }
  </style>



<script>
    tableLst = {}
   function addNewTab(){

       var newName = prompt("Name:");
       var newTab = '<li class = "nav-item"><a class="nav-link" id="' + newName +'-tab"  data-toggle = "tab" href="#'+ newName +'-content" role="tab" aria-controls="'+newName +'-content" aria-selected="false" >' + newName + '<button type="button" class = "close" onclick="deleteTab()">&times;</button></a></li>'
       var newContent = '<div class="tab-pane fade" id="'+ newName +'-content" role="tabpanel" aria-labelledby="'+newName+'-tab">content : '+ newName　+'</div>'


       $('#myTab').append(newTab);
       $('#myTabContent').append(newContent);

       $('#' + newName + '-content').load("/wafer/gototable?newName="+newName)
    {
     console.log('tableList1:', tableLst);

     $('#myTab a:last').tab('show');
     console.log('tableList2:', tableLst);
    }

    // 把handsontable 放在newName-content 裡面, 這行固定出error
       // tableLst 為甚麼都會慢一個? todo :去抓到tableLst 的 table 來 render 表格才會完整
    }


    function deleteTab(){
       $(".close").click(function(){
        var contentId = $(this).parents("a").attr('aria-controls');
        $(this).parents("li").remove();
        $(`#${contentId}`).remove();
        $('#myTab a:last').tab('show');
       });
    }


</script>
{% endblock %}