{% extends 'base.html' %}
{% block content %}

<style>
 table,th,td {
  border:1px solid black;
 }

 [class*="col-"] {
  /*float: left;*/
  padding: 30px;
  border: 1px solid #040E78E1;
}


/*.center {*/
/*  margin: auto;*/
/*  width: 60%;*/
/*  !*border: 3px solid #73AD21;*!*/
/*  padding: 10px;*/
/*}*/


</style>

<h4>Wafer Drawing</h4>



<div class="container-fluid row">

 <div class="col-6 center">
  <h5>Table attribute</h5>
  <div id="attrTable"> </div>
 </div>


  <div id="waferGraph" class="col-6 center">
    todo : place a wafer canvas
   </div>

</div>





<script>




const data = [

  ['COORDINATE', 'INT',1,  'type', null],
  ['ORIENTATION', 'INT', '0 °', 'degree',null],
  ['WAFER SIZE', 'REAL', 300,'mm', null],
  ['STEP SIZE X', 'REAL', 10000, 'um',  null],
  ['STEP SIZE Y', 'REAL', 10000, 'um', null],
  ['CENTER DIE X', 'INT', 0 , 'Index', null],
  ['CENTER DIE Y', 'INT', 0, 'Index',  null],
  ['OFFSET X', 'REAL', 0, 'um', null],
  ['OFFSET Y', 'REAL', 0, 'um', null],
  ['ALIGN DIE X', 'INT', 0, 'Index',null],
 ['ALIGN DIE Y', 'INT',  0, 'Index', null],
 ['ALIGN MOD X', 'REAL', 0, 'um', null],
 ['ALIGN MOD Y', 'REAL', 0 ,'um', null],
  ['MARGIN', 'REAL',3.0,  'mm',  null],
 ['WAFER SHAPE', 'INT', 'Flat', 'type',  null]
];

  optionCell =[
          {row:1,
           col:2,
           type:'dropdown',
           source: ['0 °', '90 °','180 °','270 °']
          },
   {row:2,
   col:2,
   type:'dropdown',
   source: [100,150,200,300]
   },

         {row:14,
          col:2,
          type:'dropdown',
          source: ['Flat', 'Notch']
         },
   ]


// todo 1: handsontable read-only for certain cells
  // todo 2: downdrop (option-selection) for certain cells
const hot = new Handsontable(document.getElementById('attrTable'), {
  data,
  colHeaders: true,
  height: '750',
  width: '100%',
  rowHeights : 30,
  className: 'htCenter',
  stretchH:'all',
  cell:optionCell,
  colHeaders:  ['Name', 'DataType', 'Unit', 'Value', 'Description'],
  licenseKey: 'non-commercial-and-evaluation',


});





</script>
{% endblock %}