{% extends 'base.html' %}
{% block content %}


<h4>method : pills </h4>

<input class = "btn btn-primary" type="submit" value="Add">
<input class = "btn btn-danger"  type="submit" value="Delete">





<br><br>
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</a>
  </li>
</ul>


<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
    *****************************************************************<br>
       *****************************************************************
       *****************************************************************
      <div id="table1"></div>

  </div>



  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

    <h5>Wafer Table</h5>
    <div id="table2"></div>


  </div>
  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
    <div>
    <h5>Wafer Table</h5>
    <div id="table3"></div>
  </div>
    </div>
</div>



<script>

   var handsontable1 = new Handsontable(document.getElementById('table1'), {
   width: '100%',
   height: '750',
   stretchH: 'all',   //all=平均擴展欄寬
   rowHeaders: true,
   colHeaders: true,
   // colHeaders: ['Category', 'LIB Type', 'LIB Name', 'Version', 'AlgoCnt', 'LastUpdateTime', 'Action'],
   colHeaders: ['#', 'X', 'Y', 'Description'],
   licenseKey: 'dfbf4-a4a7e-272c2-b6645-03351',
   outsideClickDeselects: false,   //離開表格後, 選取的範圍不會消失, 這樣才能配合外部按鍵操作
   selectionMode: 'range',   //single,range,multiple
  columns: [
       { data: '#', className: 'htCenter'  },
       { data: 'X', className: 'htCenter'  },
       { data: 'Y', className: 'htCenter'  },
       { data: 'Description', className: 'htCenter'  },]
   });


      let handsontable2 = new Handsontable(document.getElementById('table2'), {
   width: '100%',
   height: '750',
   stretchH: 'all',   //all=平均擴展欄寬
   rowHeaders: true,
   colHeaders: true,
   // colHeaders: ['Category', 'LIB Type', 'LIB Name', 'Version', 'AlgoCnt', 'LastUpdateTime', 'Action'],
   colHeaders: ['#', 'X', 'Y', 'Description'],
   licenseKey: 'dfbf4-a4a7e-272c2-b6645-03351',
   outsideClickDeselects: false,   //離開表格後, 選取的範圍不會消失, 這樣才能配合外部按鍵操作
   selectionMode: 'range',   //single,range,multiple
  columns: [
       { data: '#', className: 'htCenter'  },
       { data: 'X', className: 'htCenter'  },
       { data: 'Y', className: 'htCenter'  },
       { data: 'Description', className: 'htCenter'  },]
   });
    var handsontable3 = new Handsontable(document.getElementById('table3'), {
    width: '100%',
    height: '750',
    stretchH: 'all',   //all=平均擴展欄寬
    rowHeaders: true,
    colHeaders: true,
      colHeaders: ['#', 'X', 'Y', 'Description'],
    // colHeaders: ['Category', 'LIB Type', 'LIB Name', 'Version', 'AlgoCnt', 'LastUpdateTime', 'Action'],colHeaders: ['#', 'X', 'Y', 'Description'],
    licenseKey: 'dfbf4-a4a7e-272c2-b6645-03351',
    outsideClickDeselects: false,   //離開表格後, 選取的範圍不會消失, 這樣才能配合外部按鍵操作
    selectionMode: 'range',   //single,range,multiple
   columns: [
        { data: '#', className: 'htCenter'  },
        { data: 'X', className: 'htCenter'  },
        { data: 'Y', className: 'htCenter'  },
        { data: 'Description', className: 'htCenter'  },]
    });







</script>


{% endblock %}