{% extends 'base.html'%}
{% block content %}


<div class="container-fluid" >
  <h3 class="container ">Login</h3>
  <form class="mb-3 col-4" method="post" action="{{ url_for('acc.login_check') }}">
    <div class="form-group ">
      <label for="exampleInputEmail1">Name</label>
      <input type="text" class="form-control" id="exampleInputEmail1"  name = "userName"  placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name = "userPassword" placeholder="Password">
      <input type="checkbox" onclick="passwordVisible()">Show Password

    </div>

      <div>
         {% if _status == 'registered' %}

            <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>User existed</strong>
            </div>
          {% endif %}
      </div>



    <div class = " row justify-content-between">
      <div class = "col"> </div>
        <div>

            <button type="submit" class="btn btn-primary">Login</button>
            <small id="emailHelp" class="form-text text-muted"><a  href="{{ url_for ('acc.register_page')}}">Register?</a></small>
          </div>
        </div>
      </form>

  <br>

<h6> Name: <span id="nameInput"></span> </h6>
<h6> Password: <span id="passwordInput"></span></h6>
<h6> DB_user: <span id="db_user"></span></h6>


<script>

var pythonReturn = '{{_status}}' ; 
$(document).ready(function() {

  if (pythonReturn === 'registered'){
    alert("User is exits. \nLogin Please.")
  }
  else if (pythonReturn === 'successful'){
    alert("Register successful. \nLogin Please.")
  }
})


function passwordVisible() {
  var x = document.getElementById("inputPassword1");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}

function toSignUp(){
  window.location.href = "/acc/register_page"
}
</script>






{% endblock %}