<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">-->

<nav class = "navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">

    <a class="navbar-brand" href="#">Semi</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav  mr-auto">
          <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
          <a class=" nav-item nav-link" href="{{ url_for ('one')}}">1</a>
          <a class=" nav-item nav-link" href="{{ url_for ('two')}}">2</a>
          <a class=" nav-item nav-link" href="{{ url_for ('three')}}">3</a>
          <a class=" nav-item nav-link" href="{{ url_for ('four')}}">4</a>
          <a class=" nav-item nav-link" href="{{ url_for ('wafer.wafer1')}}">wafer1</a>
           <a class=" nav-item nav-link" href="{{ url_for ('wafer.wafer2')}}">wafer2</a>
           <a class=" nav-item nav-link" href="{{ url_for ('wafer.wafer3')}}">wafer_drawing</a>
          <a class=" nav-item nav-link" href="{{ url_for ('wafer.dieMap')}}">Die Map</a>


      </ul>
      </div>



    {% if session['username'] == None %}
        <a class="nav-item nav-link mr-auto " href="{{ url_for ('acc.login_page')}}">Login</a>
        <a class="nav-item nav-link mr-auto " href="{{ url_for ('acc.register_page')}}">Register</a>

    {% else %}
        <h7 class="nav-item mr-auto" style="color:white;"> Hi, {{session['username']}} ! </h7>
        <a class="nav-item nav-link mr-auto " href="{{ url_for ('acc.logout')}}">Logout</a>


    {% endif %}
</nav>



<script>


  function linkToLogin(){
    location.href = 'accounts/login_page'
  }


  function signOut(){
    // alert('Sign Out')
    $.ajax({
      url: '/acc/log_out',
      success: function(data){
        console.log(data)
        // alert(data)
      }

    })
  }
</script>