{% extends 'base.html' %}
{% block  content %}

    <style>

        .row{margin: 30px 20px 20px 20px}
    </style>
    <div class="container">


    <br>
    <h3>1 -  type and show the word</h3>
    <br>

    <div class = "row">


        <div class="col">
            <input id = "input_box" type="text">
            <br>
            <button onclick="show_text()">submit</button>
        </div>

        <div class="col">
              <h6>Content : </h6>
              <p id = "text_showing"> </p>
        </div>

    </div>


    <div class="row" >

        <input id="LoadFileButton" type="button" value="Load the File" onclick="loadFileText()" >
        Jqeury load : <span id="loadText"></span>

    </div>


<script>

    function show_text(){
      let box_text = document.getElementById("input_box").value;
      document.getElementById("text_showing").innerHTML = box_text;
    }

    function loadFileText(){
        $('#loadText').load("wafer/gotoHandsontable")

    }
</script>
    

{% endblock %}