{% extends 'base.html'%}
{% block content %}

<div class="container-fluid">

  <h3 class="container">Register</h3>
    <form class="mb-3 col-4" method="post" action="{{ url_for('acc.register') }}">
      <div class="form-group ">
        <label for="exampleInputEmail1">Name</label>
        <input type="text" class="form-control" id="exampleInputEmail1"  name = "userName"  placeholder="Name">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name = "userPassword" placeholder="Password">
        <input type="checkbox" onclick="passwordVisible()">Show Password
      </div>
      <div class = "d-flex justify-content-end">
        <div >
          <button type="submit" class="btn btn-primary">SignUp</button>
          <small id="emailHelp" class="form-text text-muted">Have Account? <a  href="{{ url_for ('acc.login_page')}}">Login!</a></small>
        </div>   
      </div>  
    </form>

<script>

// todo : if user is exist , show text 
var pythonReturn = '{{_status}}' ; 
$(document).ready(function() {
  if (pythonReturn === 'User not found'){
    alert("User not found! \nRegister Please.")
  }
})


function myFunction() {
  var x = document.getElementById("inputPassword1");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}

</script>

{% endblock %}