{% extends 'base.html' %}
{% block content %}
    <h3 class="container">3 - Dialog pop-up , select file and show it's content </h3>
    <br>

   <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
  Select a file
</button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!--popup dialog canvas-->
          <input id = "file_box" type="file">  
          <!-- <br>
          <button onclick="show_text()">submit</button> 
          <br> -->


        <!--end of dialog block content-->

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button"  class="btn btn-primary" onclick="show_text()">Show</button>
        </div>
      </div>
    </div>
  </div>
    
    <!--different part -->
    <h4>------------------------</h4>
    <h6>File content: </h6>
    <p id="file_content"> </p>
    <h4>------------------------</h4>

    <br>
    <p>Data :  </p>
    <p id="py_read_data"></p>


    <div id="handson_table"></div>


    <script>



        const handson_data = [
                        // ['', 'Tesla', 'Volvo', 'Toyota', 'Ford'],
                        ['2019', 10, 11, 12, 13],
                        ['2020', 20, 11, 14, 13],
                        ['2021', 30, 15, 12, 13]
                        ];
        var libTable = new Handsontable(document.getElementById('handson_table'), {
        data : handson_data,
        width: '100%',
        height: '750',
        stretchH: 'all',   //all=平均擴展欄寬
        rowHeaders: true,
        colHeaders: true,
        // colHeaders: ['Category', 'LIB Type', 'LIB Name', 'Version', 'AlgoCnt', 'LastUpdateTime', 'Action'],
        colHeaders: ['', 'Tesla', 'Volvo', 'Toyota', 'Ford'],
        licenseKey: 'dfbf4-a4a7e-272c2-b6645-03351',
        outsideClickDeselects: false,   //離開表格後, 選取的範圍不會消失, 這樣才能配合外部按鍵操作
        selectionMode: 'range',   //single,range,multiple
        // columns: [
        //     { data: 'cate', className: 'htCenter'  },
        //     { data: 'type', className: 'htCenter'  },
        //     { data: 'name', className: 'htCenter'  },
        //     { data: 'ver', className: 'htCenter'  },
        //     { data: 'cnt', className: 'htCenter'  },
        //     { data: 'utime', className: 'htCenter' },
        //     { data: 'lib_id', renderer: function (instance, td, row, col, prop, value, cellProperties) {
        //             td.align = 'center';
        //             if (value == null) return;
        //             td.innerHTML = "<a href='javascript:viewLib(" + value + ")'>View</a> | <a href='javascript:delLib(" + value + ")'>Delete</a>"
        //         }
        //     }
        // ],

    });




        function show_text(){
            var file_in = document.getElementById("file_box").files[0].name;
            alert("file_in > " + file_in);
            // document.getElementById("exampleModalLong").modal('hide');
            document.getElementById("file_content").innerHTML = file_in;
            var fileData = document.getElementById("file_box").files[0];
            alert('fileData > '+ fileData);
            $('#exampleModalLong').modal('hide');
            //console.log("---------");
            //console.log(document.getElementById("file_content"));
            //console.log("=========");
            //var string_data = JSON.jsonString(document.getElementById("file_content").value)
            //$('#py_read_data').innerHTML(string_data);
            // 把 files的內容傳回去給後端解讀
            var py_dict = new FormData();
            py_dict.append("filename" , file_in);
            py_dict.append("fileData", fileData);
            alert("py_dict > " + py_dict);

            $.ajax({
                url:"/convertObject",
                type:'POST',
                data:py_dict,
                cache:false,
                contentType:false,
                processData:false,
                async:false,   //不要使用非同步
                success:function(py_dict) {
                  alert("py_dict in ajax's function > " + py_dict);
                  $("#py_read_data").html(py_dict);
                }
            });
        }
    </script>
    
{% endblock %}