{% extends 'base.html' %}
{% block content %}
<br>

<h1> {{var1}}</h1>
    <h3 class="container"> 2 - select and show file's content </h3>
    <br>
    <input id = "file_box" type="file">  
    <br>
    <button onclick="show_text()">submit</button> 
    <br>
    
    <!--different part -->
    <h4>------------------------</h4>
    <h6>File content: </h6>
    <p id="file_content"> </p>
    <h4>------------------------</h4>

    <script>
    
            function show_text(){
                var file_in = document.getElementById("file_box").files[0].name;
                document.getElementById("file_content").innerHTML = file_in;
            }
    </script>

{% endblock %}
 